//
//  framework-macOS-Debug.xcconfig
//  MDLVoxelAsset (OS X)
//
//  Created by Cap'n Slipp on 3/9/23.
//  Copyright © 2023 Cap'n Slipp. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974



CLANG_ENABLE_OBJC_WEAK = YES
CODE_SIGN_IDENTITY[sdk=macosx*] = -
CODE_SIGN_IDENTITY[sdk=iphoneos*] = 
COMBINE_HIDPI_IMAGES[sdk=macosx*] = YES
DEFINES_MODULE = YES
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
DYLIB_INSTALL_NAME_BASE = "@rpath"
FRAMEWORK_VERSION[sdk=macosx*] = A
INFOPLIST_FILE = MDLVoxelAsset/Info.plist
INSTALL_PATH = "$(LOCAL_LIBRARY_DIR)/Frameworks"
LD_RUNPATH_SEARCH_PATHS[sdk=macosx*] = "$(inherited) @executable_path/../Frameworks @loader_path/Frameworks"
LD_RUNPATH_SEARCH_PATHS[sdk=iphoneos*] = "$(inherited) @executable_path/Frameworks @loader_path/Frameworks"
MACOSX_DEPLOYMENT_TARGET[sdk=macosx*] = 10.11
PRODUCT_BUNDLE_IDENTIFIER = com.capnslipp.MDLVoxelAsset
PRODUCT_NAME = MDLVoxelAsset
SKIP_INSTALL = YES
SUPPORTED_PLATFORMS = macosx iphonesimulator iphoneos
