//
//  framework-macOS-Debug.xcconfig
//  MDLVoxelAsset (OS X)
//
//  Created by Cap'n Slipp on 3/9/23.
//  Copyright © 2023 Cap'n Slipp. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "project.xcconfig"



DEBUG_INFORMATION_FORMAT = "dwarf-with-dsym"
ENABLE_NS_ASSERTIONS = NO
MTL_ENABLE_DEBUG_INFO = NO
SWIFT_COMPILATION_MODE = wholemodule
VALIDATE_PRODUCT = YES
